@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@model IEnumerable<MovieSearch.Model.Review>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .add-review:hover {
        background-color: rgba(1, 1, 1, 0.1);
    }
</style>

<div class="container">
    <div class="row pt-4 align-items-center pb-3 d-flex">
        <div class="col-10">
            <h2 class="ps-3 border-start border-5 text-primary">My reviews</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rating</th>
                        <th scope="col">Film Title</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model)
                    {
                        <tr>
                            <td>
                                <div class="display-6">@review.Rating / 10</div>
                            </td>
                            <td><a asp-controller="Home" asp-action="Details" asp-route-filmId="@review.FilmId">@review.Film.Title</a></td>
                                  <td>
                                      <a asp-controller="Review" asp-action="Details" asp-route-reviewId="@review.Id" class="btn btn-primary">Details</a>
                                      <a asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id" class="btn btn-warning">Edit</a>
                                      <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-danger">Delete</a>
                                  </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
